/* mobile-device styling */
@media screen and (max-width:576px) {
    .nav-bar{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .nav-links{
        align-items: center;
    }
    .nav-itme{
        margin-right: 0;
    }
    #none{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
        gap: 25px;
        padding: 25px;
        text-align: center;
    }
    .plants-card{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }
}
/* medium-device styling */
@media screen and (min-width:576px) and (max-width:992px) {
    
}