*{
    margin: 0;
    padding: 0;
}
/* google-fonts noto-serif starts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-google-fonts{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
}
/* google-fonts noto-serif ends */
/* google-fonts inter starts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
.inter-google-fonts{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}
/* google-fonts inter ends */
/* shared styling starts */
.display-fles{
    display: flex;
}
/* continer */
.continer{
    max-width: 1140px;
    margin: 20px auto 0px auto;
}
/* button */
.primary-button{
    max-width: 270px;
    background-color: #E95A08;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    border: transparent;
    cursor: pointer;
    padding: 26px 50px;
}

/* dark-1-color */
.dark-1-color{
    color: #8987A1;
}
/* dark-1-color */
.dark-2-color{
    color: #000000;
}
/* dark-2-color */
.dark-3-color{
    color: #111111;
}
/* dark-4-color */
.dark-4-color{
    color: #252432;
}
/* font-wight */
.font-weight{
    font-weight: 700;
}
/* shared styling ends */


/* nav-bar styling starts */
.nav-bar{
    align-items: center;
    justify-content: space-between;
}
.nav-itme{
    margin-right:  30px;
    list-style: none;
}
.nav-link{
    text-decoration: none;
    font-size: 1.2rem;
}
/* nav-bar styling ends */
/* banner-session-continer styling starts */
.banner{
    align-items: end;
}
#bottom{
    margin: 170px auto;
}
.banner-content{
    max-width: 570px;
}
.banner-tittle{
    font-size: 4rem;
    margin-bottom: 20px;
}
.banner-tittle span{
    color: #E95A08;
}
.banner-description{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
}
.banner-img{
    max-width: 570px;
}
/* banner-session-continer styling ends */

/* our-plants session styling starts */
.our-plants-header{
    text-align: center;
}
.header-tittle{
    font-size: 3.1rem;
    margin-bottom: 16px;
}
.header-tittle span{
    color: #E95A08;
}
.header-sub-tittle{
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 49px;
    font-size: 1.3rem;
}

.plants-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.card{
    max-width: 270px;
    text-align: center;
}
.card img{
    width: 100%;
}
.margin-bottom{
    margin: 30px auto;
}
#medium{
    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: 5px;
}

#bold{
    font-weight: 700;
    font-size: 1.3rem;
}
.btn{
    margin: 15px auto;
}
/* our-plants session styling ends */
/* plants-lover-session continer starts */
#lover{
    margin: 200px auto;
}
.plants-lover{
    justify-content: space-between;
    gap: auto;
}
.plants-img{
    max-width: 540px;
    position: relative;
}
.plants-lover-content{
    max-width: 540px;
}
.unorder-list-tittle{
    font-size: 3.1rem;
}
.plants-lover-content *{
    margin-bottom: 20px;
}
.list{
    font-size: 1.3rem;
    text-align: justify;
    color: rgba(0, 0, 0, 0.5);;
}
.image-1{
    position: absolute;
   max-width: 286px;
   left: 73%;
   bottom: 73%;
}
.imge-2{
    width: 100%;
}
/* plants lover-session continer ends */


/* latest-deals-session-continer styling starts*/
.latest-card{
    gap: 28px;
}
.left-latest{
    flex-direction: column;
    gap: 14px;
}
.left-card img{
    border-radius: 14px;
    box-shadow: 0 4px 70px rgba(0, 0, 0, 0.8);
    width: 100%;
}

.left-card{
    position: relative;
}
.tittle{
    max-width: 270px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}
.sub{
    color: #ffff;
    font-size: 1.1rem;
    margin-bottom: 15px;
}
.left-card button{
    background-color: transparent;
    border: transparent;
    color: #ffff;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
  border-bottom: 2px solid #fff;
}


.right-card{
    position: relative;
}
.right{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    max-width: 270px;
}
.right-tittle{
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 10px;
}
.right button{
    background-color: transparent;
    border: transparent;
    font-size: 1.7rem;
    font-weight: 700;
    color: #ffff;
    border-bottom: 2px solid #ffff;
    cursor: pointer;
}


.right-latest img{
    width: 100%;
    border-radius: 28px;
     box-shadow: 0 4px 90px rgba(0, 0, 0, 0.4);
}
/* latest-deals-session-continer styling ends */
/* join session styling starts */
.join-session-continer{
    background-image: url("../assets/news-letter-bg.png");
    height: 533px;
    background-repeat: no-repeat;
   background-size: cover;
   margin: 100px auto;
   position: relative;
}
.main{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}
.join-tittle{
    font-size: 3.5rem;
    color: #ffff;
    margin-bottom: 20px;
}
input{
    width: 644px;
    padding: 13px;
}
.jjj{
    position:relative;
}
.bbt{
    position: absolute;
    right: 1px;
    padding: 15px 50px;
    background-color:#E95A08;
    color: #fff;
    border: transparent;
    cursor: pointer;
}

/* join session styling ends */
/* footer styling stsrts */
.footer{
    height: 348px;
}
.footer{
    max-width: 1120px;
    justify-content: space-between;
    padding: 50px 160px;
    margin: 0 auto;
}
.footer-logo{
    width: 359px;
}
.footer-logo *{
    margin-bottom: 20px;
}
.footer-desceription{
    font-size: 1.5rem;
     color: rgba(0, 0, 0, 0.5);
}
.footer-links{
    max-width: 150px;
}
.footer-links *{
    margin-bottom: 30px;
}
.footer-itme{
    list-style: none;
}
.footer-link{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
}
.footer-apps{
    display: flex;
    align-items: center;
    gap: 30px;
}

/* footer styling ends */